@media only screen and (max-width: 1800px) {
  /* .services-slider .slick-prev{
    left: -20px;
  }
  .services-slider .slick-next {
    right: -20px;
  } */
}

@media only screen and (max-width: 1600px) {
    .client-grid {
        margin-right: 1rem;
    }
    .software-agnostics .offset-md-5 {
        margin-left: 28%;
    }
    .software-para{
        width: 100%;
    }
    /* .services-slider .slick-prev{
      left: -10px;
    }
    .services-slider .slick-next {
      right: -10px;
    } */
    .services-slider{
      padding: 0 83px;
    }
}

@media only screen and (max-width: 1400px) {
  .client-grid li{
    width: 120px;
    height: 120px;
    line-height: 120px;
  }
  .software-agnostics .offset-md-5 {
    margin-left: 15%;
  }
  .banner-content h1{
    font-size: 70px;
    line-height: 85px;
}
  .industries-slide h4{
    font-size: 28px;
    line-height: 37px;
  }
  
}

@media only screen and (max-width: 1200px) {
    .banner-content h1{
        font-size: 60px;
        line-height: 75px;
    }
    .border-text h1,.common-title-area h2{
        font-size: 60px;
        line-height: 75px;
    }
    .navbar-area .navbar .navbar-nav .nav-item {
        margin: 0 15px;
      }
    .navbar-area .navbar .navbar-nav .nav-item a{
        font-size: 15px;
    }
    .heading-txt{
        font-size: 42px;
        line-height: 50px;
    }
    .ptb-100 {
        padding: 50px 0;
    }
    .industries-slide h4{
      font-size: 25px;
      line-height: 35px;
    }
    .ind-arrow-fix{
      top: 12%;
    }
    .software-agnostics .offset-md-5 {
      margin-left: 0;
      max-width: 100%;
    }
    .we-work-area {
      padding: 4rem 0;
    }
    .client-grid li {
      width: 100px;
      height: 100px;
      line-height: 70px;
      padding: 10px;
    }
    .testimonial-slider .slick-prev{
      left: -42px;
    }
    .testimonial-slider .slick-next {
      right: -36px;
    }
    .mt-50 {
      margin-top: 20px;
    }
    .custom-iframe{
      top: 0;
      left: 0;
      width: 500px;
      height: 550px;
    }
    .btn-hero{
      bottom: calc(100vh - 32rem);
    }
}



@media only screen and (max-width: 991px) {
    .banner-content h1 {
        font-size: 45px;
        line-height: 60px;
      }
      .main-banner-section {
        padding: 150px 0 100px;
      }
      .topbat-contact-detail ul li a{
        font-size: 13px;
      }
      .abt-right-sec {
        margin-left: 0;
        margin-top: 30px;
      }
      .c-detail-txt h4{
        font-size: 35px;
      }
      .about-exp-main{
        bottom: -50px;
      }
      .main-nav__main-navigation .main-nav__navigation-box > li.dropdown > a::after {
        top: 5px;
      }
      .navbar-area .navbar .navbar-nav .nav-item{
        margin: 0 30px;
      }
      .ind-arrow-fix{
        top: 14%;
        right: 10px;
      }
      .industries-slide h4 {
        font-size: 20px;
        line-height: 30px;
      }
      .software-agnostics .offset-md-5{
        max-width: 100%;
        flex: 0 0 100%;
      }
      .we-work-area {
        padding: 2rem 0;
      }
      .software-agnostics{
        background: #0078c8;
      }
      .client-grid{
        margin: 3rem 1rem 0 2rem;
      }
      .ptb-90 {
        padding: 40px 0;
      }
      .outsource-text h3{
        font-size: 38px;
        line-height: 48px;
      }
      .we-work-area {
        padding: 40px 15px;
      }
      .mobile-bg{
        background: #fff;
        overflow: hidden;
      }
      .testimonial-slider .slick-prev {
        left: -40px;
      }
      .testimonial-slider .slick-next {
        right: -30px;
      }
      .testimonial-slide{
        margin: 15px 15px 10px 2px;
      }
      .ptb-100 {
        padding: 40px 0;
    }
    .custom-iframe{
      left: 0;
    }
    .custom-iframe{
      width: 400px;
      height: 450px;
    }
    .contact-country{
      margin-bottom: 1.25rem;
    }
    .top-footer {
      padding: 50px 0 20px;
    }
    .news-floater{
      width: 420px;
      height: 300px;  
    }
    .newsSlider .swiper-slide{
      width: 38%;
    }
    .newsSlider .swiper-slide.swiper-slide-active {
      width: 60%;
    }
    .btn-hero {
      bottom: calc(100vh - 29rem);
    }
    .navbar-area .navbar .navbar-nav .nav-item a{
      padding: 10px;
    }
    .navbar-area .navbar .navbar-nav .nav-item {
      margin: 0 20px;
     }
}

@media only screen and (max-width: 767px) {
    .container {
        max-width: 100%;
        padding-left: 30px;
        padding-right: 30px;
      }
    .navbar-area{
        top: 80px;
    }
    .topbat-contact-detail ul,.topbar-right-area{
        justify-content: center;
    }
    .c-detail-txt {
        padding-left: 0;
    }
    .c-detail-img {
        margin-right: 20px;
      }
    .certificate-main {
        padding-top: 40px;
      }
    .mb-45 {
        margin-bottom: 30px;
      }
      .about-exp-main{
        display: flex;
        justify-content: space-evenly;
        width: 90%;
        position: relative;
        right: 0;
        margin: 0 auto;
        bottom: -20px;
      }
      .hub-slider {
        position: relative;
        top: -80px;
        left: 0;
        width: auto;
        min-height: 300px;
      }
      .about-exp-main .exp-top:first-child::before {
        content: none;
      }
      .about-exp-main .exp-top:first-child{
        margin-bottom: 0;
      }
      .topbat-contact-detail{
        margin-bottom: 10px;
      }
      .banner-content h1 {
        font-size: 33px;
        line-height: 47px;
      }
      .c-detail-txt h4 {
        font-size: 30px;
      }
      .c-detail-txt h5{
        font-size: 20px;
      }
      .heading-txt {
        font-size: 32px;
        line-height: 40px;
      }
      p {
        font-size: 15px;
        line-height: 21px;
      }
      .cirtificte-img ul{
        column-gap: 20px;
      }
      .caps-title h3{
        font-size: 19px;
        line-height: 23px;
      }
      .c-detail-img img{
        max-width: 60px;
      }
      .ptb-100 {
        padding: 30px 0;
          padding-top: 30px;
          padding-right: 0px;
          padding-bottom: 30px;
          padding-left: 0px;
      }
      .mt-50 {
        margin-top: 20px;
      }
      .navbar-brand img{
        max-width: 100px;
      }
      .ind-arrow-fix {
        top: 11%;
        right: 10px;
      }
      .industries-slide h4{
        font-size: 22px;
        line-height: 30px;
      }
      .industries-slide{
        padding: 25px;
      }
      .service-slide{
        min-height: 300px;
      }
      .service-slide h4{
        font-size: 20px;
        line-height: 30px;
        margin-bottom: 10px;
      }
      .service-slide a{
        bottom:25px;
      }
      .industries-slider{
        margin-bottom: 50px;
      }
      .ind-arrow-fix {
        top: auto;
        right: 0;
        bottom: 15px;
        left: 0;
        text-align: center;
      }
      .industries-slide a{
        font-size: 14px;
        bottom: 30px;
      }
      .client-grid {
        margin: 0 10px 0;
      }
      .outsource-text h3 {
        font-size: 28px;
        line-height: 38px;
      }
      .client-logo-box{
        height: auto;
      }
      .btn-animated b{
        font-size: 19px;
        font-weight: 600;
      }
      .btn-animated{
        padding: 0.5rem;
      }
      .testimonial-slider .slick-prev {
        left: -20px;
      }
      .testimonial-slider .slick-next {
        right: -10px;
      }
      .custom-iframe{
        position: relative;
        width: 100%;
        height: 550px;
      }
      .footer-links,.footer-first{
        margin-bottom: 15px;
      }
      .site-footer_bottom{
        padding: 10px;
      }
      .top-footer {
        padding: 30px;
      }
      .contact-form .form-control,
      .custom-select-dropdown select,
      .contact-country dl.dropdown dt span:nth-child(2),
      .textfield__label
      {
        font-size: 15px;
      }
      .newsSlider .swiper-slide,.newsSlider .swiper-slide.swiper-slide-active {
        width: 100%;
      }
      .news-floater{
        width: 100%;
        height: 300px;
      }
      .newsSlider .swiper-slide.swiper-slide-active .swipe-title{
        font-size: 26px;
        line-height: 46px;
    }
    .industries-slide{
      margin: 0 5px;
    }
    .btn-hero {
      bottom: calc(100vh - 28rem);
    }
    .btn-lottie.btn-hero.fixed-ver.float{
      padding: 13px;
    }
    .loader .ball,.loader .ball2,.loader .ball3{
      width: 20px;
      height: 20px;
    }
    .btn-lottie.btn-hero.fixed-ver{
      padding: 1.25em 4.25em;
    }
    .service-slide:hover{
      transform: none;
    }
    .services-slider {
      padding: 0;
    }
  .services-slider .slick-prev{
    left: -10px;
  }
  .services-slider .slick-next {
    right: -10px;
  }
}

@media only screen and (max-width: 575px) {
    .container{
        padding-left: 20px;
        padding-right: 20px;
    }
    .topbat-contact-detail ul li a {
        font-size: 11px;
      }
    .custom-search-bar input{
        width: 180px;
      }
    .banner-content h1 {
        font-size: 20px;
        line-height: 32px;
      }
      .main-banner-section {
        padding: 110px 0 50px;
      }
      .hub-slider a{
        width: 100%;
        height: auto;
      }
      .abt-slide-txt{
        font-size: 16px;
        line-height: 22px;
      }
      .hub-slider{
        top: -130px;
      }
      .about-exp-main{
        display: inline-block;
        width: 100%;
      }
      .about-exp-main .exp-top:first-child {
        margin-bottom: 20px;
      }
      .about-exp-main{
        bottom: 0;
      }
      .border-text h1,.common-title-area h2 {
        font-size: 50px;
        line-height: 60px;
      }
      .heading-txt {
        font-size: 22px;
        line-height: 30px;
      }
      .cirtificte-img ul{
        display: inline-block;
        width: 100%;
      }
      .cirtificte-img ul li{
        float: left;
        width: 100%;
        text-align: center;
        margin: 0 0 20px 0px;
      }
      .mt-50 {
        margin-top: 10px;
      }
      .border-text span{
        font-size: 12px;
        line-height: 14px;
      }
      .navbar-area {
        top: 90px;
        z-index: 9999;
      }
      .caps-title h3 {
        font-size: 16px;
        line-height: 24px;
      }
      .service-slide h4{
        font-size: 18px;
        line-height: 25px;
        margin-bottom: 10px;
      }
      .service-slide{
        padding: 25px;
      }
      .industries-slide h4 {
        font-size: 19px;
        line-height: 27px;
      }
      .industries-slide {
        padding: 20px;
      }
      .industries-slide{
        min-height: 300px;
      }
      .client-grid li{
        width: 80px;
        height: 80px;
        line-height: 50px;
        padding: 10px;
      }
      .we-work-area {
        padding: 20px 10px;
      }
      .software-para{
        margin-top: 1rem;
      }
      .outsource-text h3 {
        font-size: 19px;
        line-height: 30px;
        margin-bottom: 15px;
      }
      .ptb-90 {
        padding: 30px 0;
      }
      .testi-content-box{
        padding: 10px;
      }
      .testi-left-txt h5{
        font-size: 17px;
      }
      .testi-left-txt p{
        font-size: 12px;
        line-height: 19px;
      }
      .footer-links,.footer-first{
        margin-bottom: 10px;
      }
      .pabsdroid{
        width: 130px;
        height: 130px;
        margin-left: 144px;
      }
      .pabsdroid h6{
        font-size: 14px;
      }
      .help-btn{
        font-size: 11px;
      }
      .site-footer-copyright p{
        font-size: 11px;
        font-weight: 500;   
      }
      .news-floater{
        height: 250px;
      }
      .newsSlider .swiper-slide .news-item{
        margin-bottom: 40px;
      }
      .dropdown dd ul{
        left: inherit;
        right: 0;
      }
      /* .btn-hero {
        bottom: calc(100vh - 23rem);
      } */
     
}

@media only screen and (max-width: 479px) {
  .client-grid li{
    width: 60px;
    height: 60px;
    line-height: 40px;
    padding: 10px;
  }
  .border-text h1, .common-title-area h2 {
    font-size: 34px;
    line-height: 50px;
  }
  .border-text span{
    font-size: 11px;
  }
  .custom-iframe{
    height: 320px;
  }
}